


body{
    background-color: #77b9ff;
    }
    #spmsbranding{
    font-weight: 600;
    }
    
    .footer{
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    color: rgb(66, 66, 66);
    }
    .first-div{
    margin-top: 95px;
    margin-left: 20px;
    margin-right: 20px;
    
    margin-bottom: 20px;
    
    }
    .left-box{
        width: 100%;
        
    }
    .right-box{
        width: 100%;
    }